body
{
    background-image: url("background.jpg");
    background-size: cover; 
}
#title
{
    margin-left: 495px;
}
#main_div
{
    background-image: url("danmahoney.jpg");
    background-size: cover; 
    border: 2px black solid;
    height: 400px;
    width:400px;
    margin-left:450px;
    margin-top: 1%;
}
#play_button
{
    margin-top:20px;
    margin-left:620px;
}